*.tlog
ImitateIFOfMario64.sdf
*.sln
ImitateIFOfMario64.suo
*.vcxproj
ImitateIFOfMario64.vcxproj.filters
*.user
ImitateIFOfMario64.opensdf
*.obj
*.exe
ipch/imitateifofmario64-6deffa41/imitateifofmario64-dd25d1f.ipch
kirby_connect.bmp
Log.txt
old/Resize_PanoramaPict.jpg
Resize_PanoramaPict.jpg
*.jpg
*.log
*.png
*.bmp
.vs/
x64/
Debug/
