*.tlog
ImitateIFOfMario64.sdf
*.sln
ImitateIFOfMario64.suo
*.vcxproj
ImitateIFOfMario64.vcxproj.filters
*.user
ImitateIFOfMario64.opensdf
*.obj
*.exe
Debug/ImitateIFOfMario64.exe.embed.manifest
Debug/ImitateIFOfMario64.exe.embed.manifest.res
Debug/ImitateIFOfMario64.exe.intermediate.manifest
Debug/ImitateIFOfMario64.log
ipch/imitateifofmario64-6deffa41/imitateifofmario64-dd25d1f.ipch
Debug/vc100.idb
Debug/ImitateIFOfMario64.vcxprojResolveAssemblyReference.cache
Debug/ImitateIFOfMario64.lastbuildstate
Debug/ImitateIFOfMario64.pdb
kirby_connect.bmp
Log.txt
Debug/ImitateIFOfMario64_manifest.rc
Debug/vc100.pdb
Debug/ImitateIFOfMario64.ilk
old/Resize_PanoramaPict.jpg
Resize_PanoramaPict.jpg